* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 1em;
}

#fusion {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

h2 {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 1em;
}

h3 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1em;
}

.fusion__top-row {
  background-color: #eee;
  padding: 1.5em;
}

.controls {
  display: flex;
  column-gap: 1em;
}

.controls__text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  color: rgb(85, 85, 85);
}

.controls__search {
  width: 100%;
  height: 2.5em;
  padding: 0 1em;
  font-size: 1em;
  border: 1px solid gray;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.controls__dropdown {
  margin-top: 1.5em;
  background-color: white;
  padding: 1.5em;
  border-top: 3px solid #8a100b;
  font-size: 0.9em;
}

.controls__dropdown-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 0.75em;
  list-style-type: none;
  color: rgb(85, 85, 85);
}

.controls__dropdown-item {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fusion__loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.fusion__loading img {
  width: 50px;
}

.fusion__columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}

.fusion__left-column {
  margin-bottom: 2rem;
}

.fusion__right-column {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.fusion__table {
  display: flex;
  flex-direction: column;
  row-gap: 0.4em;
}

.fusion__table .dt-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}

.table__title {
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
}

.table__title h3 {
  margin: 0;
  line-height: 1.2em;
  white-space: nowrap;
  color: rgb(85, 85, 85);
}

.table__title--underline {
  height: 2px;
  width: 100%;
  background-color: #b99b73;
}

.dt-search {
  display: none;
}

.table-info {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.table-info a {
  background: #edeae3;
  color: rgb(85, 85, 85);
  font-size: 0.8em;
  padding: 0.2em 0.8em;
  border: 1px solid #cccccc;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

.data-info {
  font-size: 0.8em;
  background-color: #f5e1b3;
  color: rgb(85, 85, 85);
  padding: 0.4em 0.8em 0.2em 0.8em;
  border-radius: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fusion__table-content thead {
  display: none;
}

#faculty-table tbody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
}

#faculty-table tbody tr {
  display: flex;
  flex-direction: column;
}

.fewer {
  display: none;
}

.faculty-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faculty-image {
  position: relative;
  height: fit-content;
}

.faculty-image img {
  object-fit: cover;
  border-bottom: 0.4em solid rgba(185, 155, 115);
}

.faculty-image.full img {
  border-bottom: 0.4em solid #428bca;
}

.faculty-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.04em;
  font-size: 11px;
  text-transform: uppercase;
  color: #f7f6f5;
  text-align: center;
  padding: 0.2em 0.4em;
  white-space: nowrap;
  background: rgba(185, 155, 115, 0.6);
}

.faculty-title.title-full {
  display: none;
}

.faculty-image img {
  width: 100%;
}

.faculty-name {
  text-align: center;
  color: #245c8a;
  font-weight: 600;
  text-decoration: none;
}

.showmore {
  background: #edeae3;
  color: rgb(85, 85, 85);
  font-size: 0.8em;
  padding: 0.2em 0.8em;
  border: 1px solid #cccccc;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
  cursor: pointer;
}

.invisible {
  display: none;
}

#faculty-table tbody,
#pubs-table colgroup {
  display: grid;
  margin-top: 0.3em;
}

.course-title,
.experiential-title {
  color: #245c8a;
  width: fit-content;
  cursor: pointer;
}

.course-title:hover,
.experiential-title:hover {
  text-decoration: underline;
}
.course-dropdown,
.experiential-dropdown {
  font-weight: 600;
  color: green;
}

.course-dropdown.red,
.experiential-dropdown.red {
  color: #8a100b;
}

.course-description,
.experiential-description {
  background-color: #eee;
  border-top: 3px solid #ccc;
  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #333;
  line-height: 1.5em;
}

#courses-table tr,
#experiential-table tr {
  display: block;
  margin: 0.3em 0;
}

#experiential-table th {
  display: block;
  text-align: left;
  color: #9d7c6b;
  margin: 0.5em 0;
}

#pubs-table {
  color: rgb(85, 85, 85);
}

.work-title {
  font-weight: bold;
}

.work-title a,
.work-title span {
  color: #245c8a;
}

#pubs-table .work-info {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 991px) {
  .controls__dropdown-menu {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .controls__dropdown-menu {
    grid-template-columns: 1fr 1fr;
  }
  .fusion__columns {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
  .controls__dropdown-menu {
    grid-template-columns: 1fr;
  }

  .fusion__top-row .controls {
    font-size: 0.8em;
  }
}
