#experientialData .emptyExpSmall, #experientialData .preLoadExpSmall, #experientialData .empty-controlExp {
  font-size: 15px;
}

.publicationTitle {
  font-weight: bold;
}
.no-url {
  all: unset;
  font-weight: bold;
  pointer-events: none;
}

#areaSearch {
padding:10px;
}

#areaSearch li,span.all,a.more,a.fewer {
cursor:pointer;
}

#controls {
background-color:#eee;
padding:16px 20px;
}

#courses,#publications,#experiential {
width:100%;
float:clear;
display:block;
max-width:485px;
overflow-x:hidden;
}

#coursesData, #experientialData {
  margin-bottom: 15px;
}

#faculty {
float:left;
max-width:700px;
min-height:700px;
width:60%;
margin-top:20px;
}

#faculty .facultyGroupHeaderRow img {
border-bottom:4px solid #b99b73;
}

#faculty .waiting img {
border-bottom:0;
object-fit: fill;
}

#faculty .waiting img:hover {
border-bottom:0;
}

#faculty img {
height:215px;
max-width:175px;
border-bottom:4px solid #428bca;
object-fit: cover;
margin-bottom: 5px;
}

#faculty img:hover,#faculty .facultyGroupHeaderRow img:hover {
border-bottom:4px solid #ce0303;
transition:.2s;
-moz-transition:.2s;
-webkit-transition:.2s;
}

#faculty table a,#courses td,#experiential td,#fusion #publications .display.dataTable a {
display:block;
}


#faculty td.dataTables_empty {
  height: auto;
}

#faculty tbody tr {
display:inline-block;
padding:0 0 15px;
margin-right: 30px;
vertical-align: top;
max-width:175px;
}

#facultyData {
  margin-top:20px;
}

#fusion {
padding:5px 10px;
}

#fusion #areaSearch li,#fusion #areaSearch li a {
background-color:transparent;
font-size:13px;
line-height:16px;
margin-bottom:7px;
text-transform:none;
padding:3px 17px;
}

#fusion #areaSearch li:focus,#fusion #areaSearch li a:focus {
background-color:#eee;
border-left:2px solid red;
color:#333;
}

#fusion #areaSearch li:hover {
background-color:#eee;
color:#333;
border:none;
transition:.2s;
-moz-transition:.2s;
-webkit-transition:.2s;
}

#fusion #faculty .display.dataTable a,  #faculty #smallDataInner .display.dataTable a {
display:block;
font-size:15px;
font-weight:600;
text-align:center;
}

#fusion .display.dataTable a, #fusion .display.dataTable #citationinfo, #smallDataInner .display.dataTable a {
display:block;
font-size:15px;
line-height:20px;
margin-bottom:0px;
}

#fusion .dropdown {
display:block;
position:relative;
}

#fusion .dropdown-content ul {
column-count:auto!important;
list-style-position:inside;
margin-right:10px;
padding:0;
}

#fusion a.fewer:after {
content:"\e604";
color:#fbe4ad;
}

#fusion a.fewer:hover,#fusion a.fewer {
border:1px solid #B70000;
background-color:#ce0303;
color:#fff;
transition:.2s;
-moz-transition:.2s;
-webkit-transition:.2s;
}

#fusion a.more:after,#fusion a.fewer:after, #smallDataOuter a.more:after {
content:"\e603";
color:#de0023;
font-family:icomoon;
padding-left:10px;
top:1px;
position:relative;
}

#fusion a.more:hover:after, #smallDataOuter a.more:hover:after {
color:#fbe4ad;
}

#fusion h4,#fusion .h4,  #smallDataInner h4 {
color:#9d7c6b;
font-size:15px;
font-weight:600;
margin:12px 0 7px 3px;
}

#fusion td.facultyGroupHeaderCell, #smallDataInner td.facultyGroupHeaderCell {
position:absolute;
margin:194px 0 0;
width: 175px
}

#fusion h4.facultyGroupHeader, #smallDataInner h4.facultyGroupHeader {
letter-spacing:.04em;
font-size:11px;
text-transform:uppercase;
font-weight:400;
background:rgba(185,155,115,.6);
color:#f7f6f5;
padding:3px 9px;
text-align: center;
width: 85%;
margin: auto;
}

#fusion span.all, #fusion a.more, #fusion a.fewer, #smallDataOuter a.more {
background:#edeae3;
color:#333;
font-size:12px;
font-weight:400;
letter-spacing:.03em;
text-decoration:none;
text-transform:uppercase;
white-space:nowrap;
border:1px solid #ccc;
padding:3px 14px;
}

#fusion span.all,#fusion span.allXDropDown {
background-color:#ce0303;
left:-35px;
border:none;
border-radius:100%;
color:#fff;
height:30px;
width:30px;
text-align:center;
padding:3px 8px;
}

#fusion span.all:hover {
background-color:#ce0303;
color:#fff;
border:none; 
transition: .2s;
-moz-transition:.2s;
-webkit-transition:.2s;
}

#fusion span.all:hover,#fusion span.allXDropDown:hover {
background:#999;
color:#FFF;
border:none!important;
transition:.2s;
-moz-transition:.2s;
-webkit-transition:.2s;
cursor:pointer;
}

#fusion span.allXDropDown {
color:#fff;
z-index:3333;
top:9px!important;
left:9px!important;
background-color:#ce0303;
margin-top:14px!important;
}

#myInput {
height:40px;
width:45%;
font-size:15px;
padding:0 10px;
}

#smallDataOuter a.more {
  display: none;
}


.smallDataButtons {
  margin-bottom: 30px;
}

.answer-tab,.empty-control,.answer-tabExp,.empty-controlExp {
padding-left:20px;
display:inline-block;
}

.closedInfo,.description.sorting_disabled,.descriptionExp.sorting,.sorting_disabled {
display:none;
}

.dataTable {
margin-top: 10px;
}

.dataTables_info h3 {
margin-right:50px;
margin-bottom:18px;
}

.dataTables_info h3,.dataTables_info p {
display:inline;
}

.dataTables_info p {
background:#f5e1b3;
border-radius:15px;
display:inline;
font-size:13px;
margin-bottom:4px;
margin-right:15px;
padding:0 11px;
}

.dataTables_wrapper {
padding-top:20px;
margin-bottom:25px;
display: none;
}

.description,.descriptionExp {
background-color:#eee;
border-top:3px solid #ccc;
color:#333;
font-size:14px;
line-height:22px;
margin-bottom:15px;
padding:15px 20px;
}

.details-control,.details-controlExp {
background:url(https://www.bc.edu/content/dam/bc1/schools/law/js/images/details_open.png) no-repeat left center;
cursor:pointer;
}

.details-control.open a,.details-controlExp.open a {
color:#333;
}

.dropdown {
position:relative;
display:inline-block;
}

.dropdown-content {
position:relative;
width:100%;
min-width:160px;
box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
z-index:1;
background-color:#fff;
border-top:3px solid #B70000;
margin-top:-5px;
display:flex;
padding:2px;
}

.dropdown-content ul {
column-count:4;
list-style:none;
padding:10px;
}

.dropdownOpen {
text-transform:uppercase;
font-size:14px;
letter-spacing:.02em;
cursor:pointer;
}

.dropdownOpen .dropdown-content {
border-top:3px solid #B70000;
display:table;
}

.dropdownOpen.up:after {
content:"\e603";
background-color:#ce0303;
}

.dropdownOpen:after {
content:"\e604";
color:#fff;
font-family:icomoon;
top:1px;
position:relative;
height:30px;
overflow:hidden;
text-indent:-100px;
border:1px solid #B70000;
background-color:#ce0303;
margin:5px 8px 0 5px;
padding:6px;
}


.int-wrap h3 {
display:table;
font-size:14px;
font-weight:700;
letter-spacing:.06em;
line-height:20px;
position:relative;
width:87%;
}

.int-wrap h3:after,.int-wrap h3:before {
content:"";
margin-bottom:-1px;
height:0;
position:absolute;
bottom:-5px;
width:91%;
border-bottom:2px solid #ece3cc;
}

.int-wrap h3:before {
border-color:#b99b73;
}

.int-wrap.school-wrap .bulk-wrap>main .directory-section .inset {
display:table;
top:20px;
-webkit-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
-moz-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
box-shadow:0 0 3px 0 rgba(0,0,0,.2);
padding:35px 12px;
}

.int-wrap.school-wrap.nohero .bulk-wrap>main {
margin-top:210px;
}

.int-wrap.school-wrap.nohero header.school-header .nav-wrap {
background-image:none;
}

.namePub {
font-size:14px;
line-height:16px;
border-bottom:1px solid #ececec;
padding-bottom:15px;
margin-bottom:15px !important;
}

.namePub em {
font-size:13px;
}

.open {
background:url(https://www.bc.edu/content/dam/bc1/schools/law/js/images/details_close.png) no-repeat left center;
}

.right-col {
display:table;
float:left;
width:40%;
margin-top:20px;
}



:before,:after {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

body #fusion td #courses a,body #fusion td #experiential a,body #fusion td #publications a {
display:inherit;
font-size:14px;
line-height:16px;
}

body .int-wrap h3 {
font-size:14px!important;
font-weight:700!important;
}

/*
body .int-wrap p.namePub {
  margin-bottom:0;
}
*/

h4 {
margin:0;
}

span.all {
position:relative;
left:-20px;
}

td,th {
padding:0;
}

@media screen and (max-width: 767px){
#courses,#publications,#experiential {
max-width:100%;
}

#faculty,#myInput {
width:88%;
}

.right-col {
  width:75%;
}

.dropdown-content ul {
column-count:1;
}

.int-wrap.school-wrap .bulk-wrap>main .directory-section .inset h3 {
line-height:15px;
}
}

@media screen and (max-width: 700px) {
#courses,#publications,#experiential {
width:32%;
float:left;
}

#faculty {
width:24%;
min-height:0;
margin-top:0;
}

#smallDataOuter #faculty, #smallDataOuter #courses,#smallDataOuter #publications,#smallDataOuter #experiential {
width:100%;
}

.fusionTable {
padding:5px;
background: #f5e1b3;
border-radius: 15px;
height: 125px;
overflow: hidden;
margin-right: 1%;
cursor:pointer;
}

.activeFusionTable {
background: #fcf6e7;
border:1px solid #8A100B;
padding:4px;
}

.fusionTable .dataInfo, .dataTables_info p  {
background: none;
display: block;
border-radius: 0;
margin-bottom: 0;
margin-right: 0;
padding: 0;
line-height: 16px;
}

.dataTables_info {
  font-size: 13px;
}

.fusionTable .dataInfo, .fusionTable .tableInfo .more {
  display:none;
}

.activeFusionTable .dataInfo, .fusionTable .closedInfo {
  display:block;
}

.activeFusionTable .closedInfo {
  display:none;
}


.fusionTable h3:before, .fusionTable h3:after {
  border-bottom:0px;
}

.showMore, .smallWindowShowMore, .smallDataButtons {
  display:none;
}

#fusion {
  padding:0;
}

#fusion #controls {
padding:0;
background-color:#fff;
margin-bottom:20px;
}

#fusion #controls .dropdown {
width:100%;
max-width:400px;
background-color:#fff;
padding:5px 0 0;
}

#fusion #controls .dropdown-content ul {
padding-bottom:0;
padding-top:0;
margin-bottom:0;
}

#fusion .dataTables_wrapper {
margin-bottom:10px;
padding-top:0;
}

#fusion .dropdown-content {
max-height:125px;
overflow-y:scroll;
display:block;
z-index:-1;
border: 1px solid #B70000;
}

#fusion #myInput {
  width:93%;
}

#fusion .dropdownOpen {
  width:100%
}

#fusion .right-col {
margin-top:0;
margin-bottom: 10px;
}

.closedInfo {
display:inline;
}

.closedInfo p:after {
content:"\e603";
}

.closedInfo p:after {
content:"\e603";
color:#ce0303;
font-family:icomoon;
top:1px;
position:relative;
padding:6px;
display:inline-block;
}

.dropdownOpen {
padding-left:2px;
margin-left:2px;
}

.int-wrap h3.fusionHeader:after {
width:0;
}

.int-wrap h3:after,.int-wrap h3:before {
width:100%;
}

.int-wrap.school-wrap.nohero .bulk-wrap>main {
margin-top:130px;
}

.waiting {
background-color: #fff;
height: 100%;
width: 100%;
border-radius: 15px;
}

.waiting img, #faculty .waiting img {
width: 100%;
height: 100%;
}

#fusion thead {
display:none;
}

div.dataTables_info h3 {
cursor: pointer;
vertical-align: middle;
display: table-cell;
height: 50px;
}

html,body {
-webkit-overflow-scrolling:touch!important;
overflow:auto!important;
height:100%!important;
}

table.dataTable {
margin-bottom:0;
}
}

@media screen and (max-width: 460px) {

div.dataTables_info h3  {
font-size: 12px !important;
font-weight: normal !important;
word-break: break-word;
color: #222222;
}

#faculty #smallDataInner .display.dataTable a {
font-size:13px;
width: 125px;
line-height: 16px;
}

#faculty img {
height: 150px;
max-width: 125px;
}

#faculty tbody tr {
margin-right:10px;
}

#fusion #myInput {
  font-size:14px;
  width:85%
}

#smallDataInner td.facultyGroupHeaderCell {
  margin: 115px 0 0;
  width: 125px;
}

}
