h4 
{
	margin:0px;
}

.dataTables_info h3, .dataTables_info p 
{
	display: inline;
	
}
.dataTables_info h3
{
	margin-right:50px;
	
}

.dataTables_wrapper
{
	padding-top:20px;
	
}


#faculty 
{
	width:50%;
	float:left;
	max-width:700px;    
	min-height: 700px;
}
#faculty tr 
{
	display:inline-block;
	
}
#faculty td
{
	height:200px;
	width:200px;
}
	
#faculty img
{
	height:150px;
}

#faculty table a
{
	display:block;
	
}

#courses, #publications, #experiential
{
	width:40%;
	float:right;
}
.closedInfo 
{
	display:none;
	
}


@media screen and (max-width: 700px) {
	
	#faculty 
	{
		width:100%;
		min-height: 0px;
	}
	
	#courses, #publications, #experiential
	{
		width:100%;
		float:left;
	}
	div.dataTables_info h3
	{
	cursor: pointer; 
	}
	.tableInfo
	{
		display:none;
	}
	.closedInfo{
		display:inline;
	}
	
}



#courses td, #experiential td {
	display:block;
	
}

.namePub 
{
	margin:0;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	width:100%;
    display: none;
    position: relative;
	width:100%
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#myInput {
	width:350px;
	
}

.dropdown-content ul {
	padding:10px;
	column-count: 4;
    list-style-position: inside;
}

#areaSearch li, span.all, a.more, a.fewer {
	cursor: pointer; 
}
span.all
{
	position: relative;
    left: -20px;
}



.details-control, .details-controlExp {
    background: url('http://www.bc.edu/content/dam/files/schools/law/library/test/images/details_open.png') no-repeat left center;
    cursor: pointer;
}
.answer-tab, .empty-control, .answer-tabExp, .empty-controlExp {padding-left:20px; display:inline-block;}
.open {background: url('http://www.bc.edu/content/dam/files/schools/law/library/test/images/details_close.png') no-repeat left center;}



