h4 
{
	margin:0px;
}

.int-wrap.school-wrap.nohero header.school-header .nav-wrap {
    background-image: none;
}
.int-wrap.school-wrap.nohero .bulk-wrap>main {
    margin-top: 210px;
}
.dataTables_info h3, .dataTables_info p 
{
	display: inline;
	
}


.dataTables_wrapper
{
	
	margin:20px;
	
}
thead {
	display:none;
}

#faculty 
{
	width:100%
}
#faculty tbody, #publications tbody {
		text-align:center;
	}

#faculty tbody tr 
{
	display:inline-block;
	width:30%;
	margin:5px;
}
#faculty td
{
	padding:5px;
	background-color:#edefef;
}
	
#faculty img
{
	width:100%;
}

#faculty table a
{
	display:block;
	
}

#courses, #publications, #experiential
{
	width:100%
}
.closedInfo 
{
	display:none;
	
}





#courses td, #experiential td {
	display:block;
	
}

.namePub 
{
	margin:0;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	width:100%;
    display: none;
    position: relative;
	width:100%
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#myInput {
	width:350px;
	
}

#fusion .dropdown-content ul {
	padding:0px;
	column-count: auto !important;
    list-style-position: inside;
    margin-right:10px;
}

#areaSearch {
	padding:10px;
}


#areaSearch li, span.all, a.more, a.fewer {
	cursor: pointer; 
}


span.all
{
	position: relative;
    left: -20px;
}



.details-control, .details-controlExp {
    background: url('http://www.bc.edu/content/dam/bc1/schools/law/js/images/details_open.png') no-repeat left center;
    cursor: pointer;
}
.answer-tab, .empty-control, .answer-tabExp, .empty-controlExp {padding-left:20px; display:inline-block; margin-bottom:5px;}
.open {background: url('http://www.bc.edu/content/dam/bc1/schools/law/js/images/details_close.png') no-repeat left center;}



#fusion #publications .display.dataTable a {
	display:block;	
}

#publications tr {
	display:inline-block;
	width:30%;    
	text-align: left;
    margin: 5px;
    border: solid 2px rgba(0,0,0,.2);
    padding: 10px;
	min-height:220px;
	vertical-align: top;
	background-color:#fff;
	color: #555;
}
body .int-wrap p.namePub {
	margin-bottom:0px;
}

.responsive-columns #publications tr  {
	width:100%;
	margin-left:auto;
	margin-right:auto;  
	min-height: 0px;
}

  	

  
 /*Academics and Faculty search */
/* wip: July 29, 2016 */

#controls {
    background-color: #eee;
    padding: 16px 20px;
}

#faculty {
    width: 100%;
    margin-top: 20px;
}



#fusion {
    padding: 5px 10px;
}

#fusion #areaSearch li, #fusion #areaSearch li a {
	background-color: transparent;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 7px;
    padding: 3px 17px;
    text-transform: none;
}

#fusion span.all, #fusion a.more, #fusion a.fewer {
    background: #edeae3 ;
    color: #333 ;
    font-size: 12px ;
    font-weight: normal;
    letter-spacing: .03em ;
    padding: 3px 14px;
    text-decoration: none ;
    text-transform: uppercase ;
    white-space: nowrap ;
    border: 1px solid #ccc;
}

#fusion #areaSearch li:hover, #fusion span.all:hover, #fusion a.more:hover {
    background: #B99B73;
    color: #FFF;
    border: 1px solid #887342;
        transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}
#fusion a.fewer:hover, #fusion a.fewer{
	border: 1px solid #B70000;
    background-color: #ce0303;
    color: #fff;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}

#fusion #areaSearch li:focus, #fusion #areaSearch li a:focus {
    background-color: #eee;
    border-left: 2px solid red;
    color: #333;
}

#fusion #areaSearch li:hover {
    background-color: #eee;
    color: #333;
    border: none;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}

#fusion #faculty .display.dataTable a {
    display: block;
    font-family: Utopia standard;
    font-size: 16px;
    text-align: center;
}

#fusion .display.dataTable a {
    display: inline-flex;
    font-size: 15px;
    line-height: 18px;
}

#fusion .dropdown {
    display: block;
    position: relative;
}
a.more:after,  a.first:before, a.prev:before {
	content: "\e602";
    color: #8a100b;
    font-family: icomoon;
   /*padding-left: 10px;*/
    top: 1px;
    position: relative;

}
a.first:before, a.prev:before  {
	content: "\e601";
	/*padding-left:0;
	padding-right:10px;*/
}
a.first:before {
	padding-right:10px;
}
a.more:hover, a.first:hover, a.prev:hover {
	text-decoration:none;
	background-color:rgba(255,255,255,.95);
}

.dropdownOpen {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .02em;
    cursor: pointer;
}

#fusion h4, #fusion .h4 {
    color: #9d7c6b;
    font-size: 15px;
    font-weight: 600;
    margin: 12px 0 7px 3px;
}

#fusion span.all:hover, #fusion span.allXDropDown:hover {
    background: #999;
    color: #FFF;
    border: none !important;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    cursor: pointer; 
}
#fusion span.all, #fusion span.allXDropDown {
    background-color: #ce0303;
    left: -35px;
    border: none;
    padding: 3px 8px;
    border-radius: 100%;
    color: #ffffff;
    height: 30px;
    width: 30px;
    text-align: center;
}
#fusion span.allXDropDown  {
    color: #ffffff;

    z-index: 3333;
   top: 9px !important;
    left: 9px !important;
    background-color: #ce0303;
    margin-top: 14px !important;

}
#fusion span.all:hover {
    background-color: #ce0303;
    color: #fff;
    border: none
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}

#myInput {
    height: 40px;
    width: 45%;
    padding: 0px 10px;
    font-size: 15px;
}
body .int-wrap .dataTables_info p {
	margin-bottom: 4px;
}
.dataTables_info p {
    background: rgba(255,255,255,.2);
	color: rgba(0,0,0,.8);
    display: inline-table;
    font-size: 13px;
    margin-bottom: 4px;
    margin-right: 15px;
    padding: 0px 11px;
}

.dataTables_info .more, .dataTables_info .first, .dataTables_info .prev {
	background: rgba(255,255,255,.8);
    border-radius: 15px;
    display: inline-table;
    font-size: 13px;
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 0px 11px;
	
}


.description, .descriptionExp {
    background-color: #eee;
    border-top: 3px solid #ccc ;
    color: #333;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
    padding: 15px 20px;
}

.description.sorting_disabled, .descriptionExp.sorting, .sorting_disabled {
    display: none;
}

.details-control.open a , .details-controlExp.open a {
    color: #333;
}

.dropdown-content {
    background-color: #fff;
    border-top: 3px solid #B70000;
    padding: 2px;
    margin-top: -5px;
    display: flex;
}

.dropdown-content ul {
    column-count: 4;
    list-style: none;
    padding: 10px;
}

.dropdownOpen .dropdown-content {
    border-top: 3px solid #B70000;
    display: table;
}

.dropdownOpen:after {
    content: "\e604";
    color: #fff;
    font-family: icomoon;
    padding: 6px;
    top: 1px;
    position: relative;
    height: 30px;
    margin: 5px 8px 0 5px;
    overflow: hidden;
    text-indent: -100px;
    border: 1px solid #B70000;
    background-color: #ce0303;
}
.dropdownOpen.up:after {
    content: "\e603";
    background-color: #ce0303;
}

.dataTables_info {
	position:relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.info-inner {
	width: 100%;
    padding-bottom: 5px;
}


.int-wrap h3 {
    /*border-bottom: 1px solid #D7CBAE;*/
    display: table;
    font-size: 18px;
	margin-top:10px;
    font-weight: 700;
    letter-spacing: .06em;
    line-height: 20px;
    /*margin-bottom: 10px;
    padding-bottom: 2px;*/
    position: relative;
	float:left;
}
.tableInfo {
	float:right;
}

.info-inner:before, .info-inner:after {
	content: "";
    margin-bottom: 5px;
    height: 0;
    position: absolute;
    bottom: 5px;

    border-bottom: 2px solid rgba(255,255,255,.9);   
}
.info-inner:before {
	width:100%;
	border-color: rgba(0,0,0,.5);
}
.info-inner:after {
	width:100%
}
.col-md-3.col-sm-8.col-xs-12 .info-inner:before, .col-md-3.col-sm-8.col-xs-12 .info-inner:after {
	bottom: 85px;
}

@media screen and (max-width: 991px) {
	
	.col-md-3.col-sm-8.col-xs-12 .info-inner:before, .col-md-3.col-sm-8.col-xs-12 .info-inner:after {
		bottom: 5px;
	}
}


.namePub {
    font-size: 14px;
	line-height:1.3;

}

.namePub em{
    font-size: 13px;
    }
body #fusion td #courses a,body #fusion td #experiential a, body #fusion td #publications a {
    display: inherit;
    font-size: 14px;
    line-height: 16px ;
}

/*.dataTables_wrapper.no-footer {
    padding: 4px 15px;
    color: red;
    background-color: rgba (0,0,0,.4);
}*/

td,th {
    padding: 0;
}

.dataTables_info h3 {
    margin-bottom: 18px;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.right-col {
    display: table;
    float: left;
    width: 40%;
    margin-top: 20px;
}

#courses, #publications, #experiential {
    width: 100%;
    float: clear;
}

body .int-wrap h3 {
    font-weight: 700!important;
}

#faculty img {
    border-bottom:4px solid #428bca
}
#faculty img:hover, #faculty .facultyGroupHeaderRow img:hover {
    border-bottom:4px solid #ce0303;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}

#fusion h4.facultyGroupHeader{
    margin: 194px 0 0 40px;
    position: absolute;
    background: rgba(185,155,115,.6);
    padding: 3px 9px;
    color: #f7f6f5;
    letter-spacing: .04em;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
}
#faculty .facultyGroupHeaderRow img{
    border-bottom:4px solid #b99b73
}
.int-wrap.school-wrap .bulk-wrap>main .directory-section .inset{
    display: table;
    top: 20px;
    padding: 35px 12px;
     -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
}
#publications td a, #publications td p {
	margin-left: 70px;
	margin-right:5px;
	display:block;
}
#publications td a {
	margin-bottom:5px;
}

.book td:before, .pdf td:before {
	color: #b29d6c;
    font-family: 'icomoon';
    display: inline-block;
    font-weight: 400;
    font-size: 50px;
	content: "\e61a";
	float:left;
	line-height:normal;
	padding-top:5px;
}
.pdf td:before {
	content: "\e637";
	
}

#experiential  .btn.btn-default {
	display: block;
	width: 100%;
	text-align: left;
	background-color:rgba(0,0,0,.5);
	color:rgba(255,255,255,.8);
	border: 1px solid rgba(255,255,255,.3);
	margin-bottom: 5px;
}
#experiential  .btn.btn-default:hover {
	background-color:rgba(0,0,0,.2);
}
#experiential  .btn.btn-default.selected {
	background-color:rgba(255,255,255,.2);
	color:rgba(0,0,0,.8);
	border: 1px solid rgba(0,0,0,.3);
}
#experiential  .btn.btn-default.selected:after {
    content: "\e602";
    color: #8a100b;
    font-family: icomoon;
    padding-left: 10px;
    top: 1px;
    position: relative;
	float:right;
}

#experientialData {
	width:70%;
}
#expTabs {
	float:left;
	width:27%;
	margin-bottom:20px;
	margin-right:3%;
}

#expTableWrapper {
	width:70%;
	float:right;
	
}

.tableWrapper {
	background-color: #fff;
	padding:10px;
	margin-bottom:20px;
}

/*adjustments for dark colored padded section */

body .int-wrap.school-wrap .bulk-wrap>main .showsidenav .padded-wgray-wh h3, 
body .int-wrap.school-wrap .bulk-wrap>main .showsidenav .padded-dmaroon-wh h3,
body .int-wrap.school-wrap .bulk-wrap>main .showsidenav .padded-maroon-wh h3,
body .int-wrap.school-wrap .bulk-wrap>main .showsidenav .padded-dgold-wh h3,
body .int-wrap .padded-wgray-wh h3, 
body .int-wrap .padded-dmaroon-wh h3,
body .int-wrap .padded-maroon-wh h3,
body .int-wrap .padded-dgold-wh h3   {
	color:#fff;
}

.padded-wgray-wh .dataTables_info p, 
.padded-dmaroon-wh .dataTables_info p,
.padded-maroon-wh .dataTables_info p
 {
	background: rgba(0,0,0,.5);
	color: rgba(255,255,255,.7);
}
.padded-white-bl .dataTables_info p
 {
    background: rgba(0,0,0,.3);
    color: rgba(255,255,255,.9);
 }
.padded-wgray-wh .dataTables_info .more, .padded-wgray-wh .dataTables_info .first, .padded-wgray-wh .dataTables_info .prev, 
.padded-dmaroon-wh .dataTables_info .more, .padded-dmaroon-wh .dataTables_info .first, .padded-dmaroon-wh .dataTables_info .prev,
.padded-maroon-wh .dataTables_info .more, .padded-maroon-wh .dataTables_info .first, .padded-maroon-wh .dataTables_info .prev
 {
	background: #fff;
}

.padded-white-bl .dataTables_info .more, .padded-white-bl .dataTables_info .first,.padded-white-bl .dataTables_info .prev  {
    background: #b29d6c;
    color: #fff;
}

.padded-wgray-wh #faculty td ,
.padded-dmaroon-wh #faculty td,
.padded-maroon-wh #faculty td,
.padded-dgold-wh #faculty td,
.padded-lgray-dg #faculty td
 {
	 background-color: rgba(255,255,255,.9);
}

.padded-lgray-dg .info-inner:after {
	border-bottom-color: #b29d6c;
}
.padded-lgray-dg .info-inner:before {
	border-bottom-color: #8a6b46;
}

.padded-section-new.padded-gold-wh .tableWrapper,
.padded-section-new.padded-wgray-wh .tableWrapper,
.padded-section-new.padded-maroon-wh .tableWrapper,
.padded-section-new.padded-dmaroon-wh .tableWrapper
 {
	color:#555;
}
.padded-wgray-wh #experiential  .btn.btn-default.selected {
	background-color: rgba(255,255,255,.5);
}
.padded-maroon-wh #experiential  .btn.btn-default.selected,
.padded-dmaroon-wh #experiential  .btn.btn-default.selected,
.padded-white-bl #experiential  .btn.btn-default.selected    {
	background-color: #dccaa0;
}


@media screen and (max-width: 1000px) {
	#publications tr {
		width:48%;    
	}
	
}


@media screen and (max-width: 700px) {
	

	
	#faculty tbody tr {
		width:auto;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:10px;
	}
	
	#publications tr {
		width:100%;
		margin-left:auto;
		margin-right:auto;  
		min-height: 0px;
	}	
	.book td:before, .pdf td:before {
	}



	
 #fusion #controls {
 padding: 0px;
	}


  #fusion #controls .dropdown {
  	position:fixed;
  	top:109px;
  	left:0px;
	padding: 5px 0px 0px;
    margin-left: 15px;
  	width: 88%;
    max-width: 400px;
  	z-index:22;
  	background-color:#fff;
  	}
  	#fusion .dropdown-content {
  	max-height: 125px;
  	overflow-y:scroll;
	display:none;
  	}
	
	.dropdownOpen {
		padding-left:2px;
		margin-left:2px;
		
	}
	
	#fusion #controls .dropdown-content ul {
		padding-bottom:0px;
		padding-top:0px;
		margin-bottom:0px;
	}
  	

  	
  	.closedInfo p:after {
  	content: "\e603";
  	}
	
	.dataTables_wrapper {
		margin-bottom:0px;
		padding-top:0px;
	
		
	}
	
	#fusion #faculty {

	}
	
	#fusion .right-col {
		margin-top:0px;
	}
	
	#fusion thead {
		display:none;
	}
	
	table.dataTable {
		margin-bottom:20px;
	}
	
	h2.fusionHeader {
		
		margin-top:120px !important;
		
	}
	
	.int-wrap h3.fusionHeader:after {
		width:0%;
	}
	
	.int-wrap h3:after, .int-wrap h3:before {
		width:100%;
		
	}
	
	
  	
  	html,body{
    -webkit-overflow-scrolling : touch !important;
    overflow: auto !important;
    height: 100% !important;
	}
	

	
}
@media screen and (max-width: 600px) {
		#experiential  .btn.btn-default {
			display:inline-block;
			width: 48%;
			margin: 1% 1%;
			vertical-align: top;
		}
		#experiential  .btn.btn-default.selected:after {
			content:"";
		}
		#expTabs {
			width: 100%;
		}
		#expTableWrapper {
			width: 98%;
			margin:1%;
			margin-bottom:20px;
}
		
}



 
  