div#fusionFilter {
	display:none;
}

div#fusionFilter .btn{
	background-color:#726158;
}


ul#areaSearch {
	padding-left:0px;
	margin-bottom: 0px;
}

#areaSearch li {
	cursor:pointer;
	display: inline-block;
    padding:10px 20px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}

#areaSearch li:after {
	content: "\e603";
    font-family: icomoon;
	color:#ce0303;
	padding-left:10px;
}

#areaSearch li.fusion-more:after{
	content: "\e602";
}

#areaSearch li.selectedFusion {
	background-color:#726158;
	color:#fff;
}

#areaSearch li.selectedFusion:after {
	content: "\e604";
	color:#fff;
}

#experientialData tr.group {
	font-weight:bold;
}

#experientialData tr + .group td { /* bootleg solution to :not(:first-of:(tr.group)) */
	margin-top: 20px;
}

#fusionTables {
	display:none;
	position: absolute;
    z-index: 1;
	background-color: #726158;
	color:#fff;
	padding:20px;
	width:100%;
}

#fusionTables thead {
	display:none;
}
#fusionTables a {
	color:#fff;
}

#fusionTables a.publicationTitle {
	font-weight: bold;
}

#fusionTables a:hover {
	text-decoration:underline;
}
#fusionTables a.facultyName {
	font-size:12px;
	font-weight:normal;
}
#fusionTables a.btn-gold {
	font-weight:normal;
	float: left;
}
#fusionTables a.btn-gold:hover {
	text-decoration:none;
}

#fusionTables a.icon-close {
	float:right;
	color:#b29d6c;
	font-size: 25px;
	padding: 7px 0px;
}
#fusionTables a.icon-close:hover {
	text-decoration:none;
	color: #959595;
}
div#bottomControls {
	overflow:auto;
}

.dataTables_info h3, .dataTables_info p 
{
	display: inline;
	
}

#fusionTables h3 {
	font-size: 23px;
    color: #DFDDCF;
	line-height: 1.5;
}

.dataTables_info h3
{
	margin-right:50px;
	font-size: 23px;
    color: #DFDDCF;
	
}

.dataTables_wrapper
{
  margin-bottom:20px;
	
}


#faculty 
{

}

#faculty tr 
{
	width:50%;
	display:inline-block;
	
}
#faculty td
{
    vertical-align: top;
    position: relative;
	padding-bottom: 5px;
}
	
#faculty img
{
	width:85%;
}

#faculty table a
{
	display:block;
	
}

#faculty tbody
{
	vertical-align:top;
	
}

#faculty .icon-close {
	display:none;
}


#courses, #publications, #experiential
{

}


@media screen and (max-width: 1200px) {
	#fusionTables {
		position: relative;
	}
}

@media screen and (max-width: 700px) {
	div#fusionFilter {
		display:block;
	}

	ul#areaSearch {
		display:none;
	}
	
	#fusionTables .btn{ 
		white-space: normal;
		line-height:1.1;
		max-width:280px;
	}
	#faculty h3 {
	float: left;
	}
	#faculty .icon-close {
	display:block;
	}
	
	
	
	#faculty tr 
{
	width:25%;
	display:inline-block;
	
}
	
	
}

#courses td, #experiential td {
	display:block;
	
}

.namePub 
{
	margin:0;
}